<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPST Wifi Humid</title>
</head>
<body>
    <h1>Data received from IPST WiFi module:</h1>
    <pre><%= JSON.stringify(data, null, 2) %></pre>
</body>
</html>